---
import { getCollection } from 'astro:content'
import BlogPost from '../../components/BlogPost.astro'
import { getLangFromUrl, useTranslatedPath } from '../../i18n/utils'
import BaseLayout from '../../layouts/BaseLayout.astro'
import '../../styles/global.css'
const allPosts = await getCollection('posts')

const pageTitle = 'My Astro blog page'
const lang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(lang)
---

<BaseLayout pageTitle={pageTitle}>
  <p>Here are some posts of my authory.</p>
  <ul>
    {
      allPosts.map(post => (
        <BlogPost
          url={translatePath(`/posts/${post.slug}/`, lang)}
          title={post.data.title}
          imageURL={post.data.image.url}
          description={post.data.description}
        />
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    margin-top: 40px;
    display: grid;
    gap: 20px;
    padding: 0;
  }
  li a {
    color: royalblue;
  }
</style>
