---
import BlogPost from '../components/BlogPost.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import '../styles/global.css'
const allPosts = await Astro.glob('../pages/posts/*.md')
const pageTitle = 'Mi blog de Astro aprendizaje'
---

<BaseLayout pageTitle={pageTitle}>
  <p>Aquí es donde publicaré acerca de mi viaje aprendiendo Astro.</p>
  <ul>
    {
      allPosts.map(post => (
        <BlogPost
          url={post.url}
          title={post.frontmatter.title}
          imageURL={post.frontmatter.image.url}
          description={post.frontmatter.description}
        />
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    margin-top: 40px;
    display: grid;
    gap: 20px;
    padding: 0;
  }
  li a {
    color: royalblue;
  }
</style>
