---
import { getCollection } from 'astro:content'
import BlogPost from '../components/BlogPost.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import '../styles/global.css'
const allPosts = await getCollection('posts')

const pageTitle = 'Mi blog de Astro aprendizaje'
---

<BaseLayout pageTitle={pageTitle}>
  <p>Aquí es donde publicaré acerca de mi viaje aprendiendo Astro.</p>
  <ul>
    {
      allPosts.map(post => (
        <BlogPost
          url={`/posts/${post.slug}/`}
          title={post.data.title}
          imageURL={post.data.image.url}
          description={post.data.description}
        />
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    margin-top: 40px;
    display: grid;
    gap: 20px;
    padding: 0;
  }
  li a {
    color: royalblue;
  }
</style>
